<h2> Make your selection:</h2>

<% @products.each do |product| %>
    <div class="tile selected">
        <div class="product">

          <%= link_to image_tag("products/" + product.image_file_name + product.author), product_path(product) %>



    <h2>

      <%= link_to product.title, product_path(product) %></h2>

        </div>
  </div>

<% end %>

<div style="clear:both"></div>





