<% title @product.title %>

<div style="display: inline-block;">
<%= image_tag "products/#{@product.image_file_name}", :id => "product-image" %>

  <div id="product-description">
  <% if @product.description %>
      <%= simple_format @product.description %>
  <% else %>
      <p><em>No Description</em></p>
  <% end %>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency @product.price %>
    (<%= link_to "Add to Cart", add_to_cart_path(@product.id) %>)
  </p>

  <p>
    <strong>By:</strong>
    <%= @product.author %>
  </p>

  <p> <%= link_to "Back to All Products", products_path %> </p>
</div>
</div>



<div style="display: inline-block;"> </div>
  <div style="clear:both;"></div>